body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size:large;
}


.intro{
  background-color: rgb(39, 39, 39);
  padding: 100px 15px 25px 15px;
  text-align:center;
  color:white;
  margin-top:-70px;
  font-size:large;
}

.formatText{
  font-size:large;
  padding:20px;
  text-align:justify;
}

.padding20{
  font-size:large;
  padding:20px;
}

.socialIcon{
  font-size:28px;
  color:white;
  padding:8px;
}

.subdiv{
  background-color: #ffffff;
  margin-bottom:8px;
  padding:6px;
  border-radius: 8px;
}