body {
  margin: 0;
  font-family: Consolas;
}


.intro{
  background-color: rgb(39, 39, 39);
  padding: 100px 15px 25px 15px;
  text-align:center;
  color:white;
  margin-top:-70px;
  font-size:large;
}

.formatText{
  font-size:large;
  padding:20px;
  text-align:justify;
}

.socialIcon{
  font-size:28px;
  color:white;
  padding:8px;
}